includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - app/Contexts/
        - database/
    
    level: 5

    ignoreErrors:
        # Add ignores if necessary
    
    excludePaths:
        # Add excludes if necessary
